{% macro input(label, type, name, id, value) %}
	<label for='{{id}}'>{{label}}</label>
	<input class='form-control' type='{{type}}' name="{{name}}" id='{{id}}' value='{{value}}'/><br/>
{% endmacro %}


{% macro editor(label, name, id, value) %}
	<label for='{{id}}'>{{label}}</label>
	<textarea class='form-control editor' rows='25'  name='{{name}}' id='{{id}}'/>{{value}}</textarea><br/>
{% endmacro %}


{%macro submit(text)%}
<br/>
<p><a href='#'  id='submit' class="btn btn-default">{{text}}</a></p>
{% endmacro %}

{%macro success(text)%}
<div class="alert alert-success">
        <strong>{{text}}</strong>
</div>
{% endmacro %}


{%macro warning(text)%}
<div class="alert alert-warning">
        <strong>{{text}}</strong>
</div>
{% endmacro %}